/*GLOBAL*/

* {
  /* border: 1px red solid; */
  font-family: "Tilt Neon", sans-serif;
  color: white;

  a{
    text-decoration: none;
    &:hover{
      color: grey;
      box-shadow:0 0 8px 3px rgba(255, 255, 255, 0.411);
    }
  }
  h2{
    font-size: 50px;
    font-weight: 100;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px grey solid;
    padding-bottom: 10px;
    /* box-shadow:inset -2px 2px 10px 0px rgba(255, 255, 255); */
  }
}

.description{

  text-align: center;
  p{
    margin-block: 20px;
  }
}

.see-more{
  margin: 0 auto;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-image: url(./image/icone/photos.jpg);
  &:hover{
    color: grey;
    box-shadow:0 0 8px 3px rgba(255, 255, 255, 0.411);
  }
}

.d-none{
  display: none !important;
}

html,body {
  height:100%;
  background-color: black;
  margin:0;
  padding:0;
}

section{
  padding-inline: 10px;
}
/* NAVBAR */

#nav-bar{
  z-index: 10;
  padding-inline: 10px;
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
  gap: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
  border-bottom: 1px sloid white;
  a{
    text-align: center;
    width: 30px;
    height: 30px;
    background-size: cover;
  }
}

/* PROJECTS */
#projects{
  .projects-list{
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    .project{
      width: 150px;
      height: 150px;
      border-radius:10px;
      opacity: 90%;
      border: 1px rgb(180, 180, 180) solid;
      background-size: cover;
      &:hover{
        color: grey;
        box-shadow:0 0 8px 3px rgba(255, 255, 255, 0.411);
      }
    }
    .post-project{
      width: 45%;
      .banner{
        display: flex;
        justify-content: center;
        height: 50px;
        width: 100%;
        gap: 20px;
        .img-banner{
          border-radius: 6px;
          width: 50px;
          background-size: cover;
          height: 100%;
        }
      }
    }
  }
}

.github{
  border-radius: 6px;
  border: 1px white solid;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url(./image/icone/github-mark.png);
}

.linkedin{
  border-radius: 6px;
  border: 1px white solid;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url(./image/icone/logo-linkedin.png);
}

.calculette {
  background-image: url(./image/programe/calculatrice.png);
}

.morpion {
  background-image: url(./image/programe/morpion.png);
}

.jeuDeDame {
  background-image: url(./image/programe/jeuDeDame.png);
}

.jeuDeLaVie {
  background-image: url(./image/programe/gameOfLife.png);
}

.markdown{
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url(https://www.iconbolt.com/iconsets/remix-icon-fill/markdown.svg);
}

.KTANE {
  color: red;
  text-align: center;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/49/Logo_Keep_Talking_and_Nobody_Explodes.png);
}

.komod {
  .img-banner{
    background-image: url(./image/icone/logo_komod.png);
  }
  .see-more{
    position: relative;
    .komod-gallerie{
      position: absolute;
      bottom:-466px;
      right: -215px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      row-gap: 40px;
      z-index: 2;
      img{
        user-select: none;
        height: 466px;
        width: 215px;
        border-radius: 5px;
        box-shadow:0px 0px 5px 0px rgb(255, 255, 255);
      }
    }
  }

}

.discover {
  .img-banner{
    border-radius: 50% !important;
    background-image: url(./image/icone/Spotify_logo_without_text.svg);
  }
  .see-more{
    position: relative;
    .discover-gallerie{
      position: absolute;
      bottom: -305px;
      right: -175px;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 50px;
      z-index: 2;
      img{
        user-select: none;
        display: block;
        max-height: 300px;
        width: auto;
        height: auto;
        border-radius: 5px;
        box-shadow:0px 0px 5px 0px rgb(255, 255, 255);
      }
    }
  }
}



#documents{
  z-index: 10;
  background-color: black;
  position: sticky;
  bottom: 0;
  display: flex;
  border-top: 1px white solid;
  margin:10px auto;
  padding: 10px 20px;
  justify-content: space-around;
  .diplome, .CV, .origami{
    border-radius: 5px;
    background-color: white;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
  }

  .diplome{
    border: 1px white solid;
    background-image: url(./image/icone/wagon.png);
  }
  .CV{
    background-image: url(./image/icone/CV.png);
  }
  .origami{
    background-image: url(./image/icone/origami.png);
  }
}
