* {
  border: 1px red solid;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/*BODY*/

body {
}

body.pure-g {
  align-content: center;
  justify-content: center;
}

/*MAIN*/

main {
  height: 85%;
}
