* {
  margin: 0 auto;
  /* border: 1px red solid; */
}

#imageBouton {
  text-align: center;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  border-radius: 50%;
}

.rouge {
  background-color: red;
}
.bleu {
  background-color: blue;
}
.blanc {
  background-color: antiquewhite;
}
.jaune {
  background-color: yellow;
}
.noir {
  background-color: black;
  color: antiquewhite;
}

/* KEYPADS */

.keypads {
  display: flex;
  flex-wrap: wrap;
}

.keyResult > div {
  height: 50px;
  width: 50px;
  border: 1px black solid;
  background-color: red;
}

.keypads > img:hover {
  border: 1px red solid;
}

.clicked {
  background-color: rgba(221, 138, 238, 0.4);
}

.keypads > img {
  height: 50px;
  width: 50px;
  border: 1px black solid;
}
