* {
  margin: 0 auto;
  /* border: 1px red solid; */
}

#buttonImage {
  text-align: center;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  border-radius: 50%;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.white {
  background-color: antiquewhite;
}
.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
  color: antiquewhite;
}

/* KEYPADS */

.keypads {
  display: flex;
  flex-wrap: wrap;
}

.keyResult > div {
  height: 50px;
  width: 50px;
  border: 1px black solid;
  background-color: red;
}

.keypads > img:hover {
  border: 1px red solid;
}

.clicked {
  background-color: rgba(221, 138, 238, 0.4);
}

.keypads > img {
  height: 50px;
  width: 50px;
  border: 1px black solid;
}

.hidden {
  display: none;
}
