* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: antiquewhite;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: black;
  color: white;
  border-bottom: 4px solid grey;
}

.gallerie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallerie img {
  width: 100%;
  max-width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}
